.container {
    max-width: 1200px;
    margin: auto;
}

.input_field {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.input_field input {
    width: 40%;
    padding: 7px 10px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
}

.input_field input:focus-visible {
    border: 1px solid black;
}

.temp_details {
    display: flex;
    justify-content: space-between;
}

.temp_details h4 {
    margin: 2px 0px;
}

.input_field button {}

.city_name {
    margin-top: 50px;
    text-align: center;
}

.description {
    color: black;
    font-weight: 500;
}

.forecast {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.heading_forecast {
    margin-top: 70px;
}

.days {
    width: 30%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.5);
}

.days h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.toggle_deg {
    display: flex;
}

.toggle_deg select {
    margin-left: 10px;
    border: 1px solid lightgray;
}